:root {
  --body-color: #ffffff;
  --nav-bg: rgba(255, 255, 255, 0.96);
  --toptab-bg: #532157;
  --list-bg: #f3e6a2;
  --tab-active: #50c6d8;
  --tab-hover: #50c6d8;
  --list-bg: #ff7373;
  --list-text: #401b43;
  --mwanzo-bg: #f1f1f1;
  --active-li: #50c6d8;
  --li: #000000;
  --margin-body: 0px;
  --padding-body: 0px;
}

button {
  width: max-content;
  background: none;
  border: none;
  color: #ffffff;
  background: #50C6D8;
  padding: 11px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font-weight: 600;
  /* outline: tomato; */
}
.contact {
  color:#fff;
  text-decoration: none;


}

@font-face {
  font-family: myFirstFont;
  src: url('./fonts/')  format('truetype');
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width:auto;
  margin-top: -62px;
  color: #607D8B;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius:5px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
color:#00BCD4;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #9C27B0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #efefef;
}

/* Fading animation */
.slide-in-bck-center {
  -webkit-animation-name: slide-in-bck-center;
  -webkit-animation-duration: 1.5s;
  animation-name: slide-in-bck-center;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


  
/* global styles */

 .containerr {
  width: 10.2%;
  margin: auto;
  overflow: hidden;
  align-items: center;
}
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    /* margin: 30px 59px; */
  }

/* navigation-bar */
.nailab {
  width: 49px;
}
.main-nav {
  display: flex;
  justify-content: space-evenly;
  background: var(--nav-bg);
  position: fixed;
  width: 100%;
  margin-top: 0;
  Z-INDEX: 1;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.3), 0 1px 3px 1px rgba(162, 167, 171, 0.15);
}
.nav {
  flex: 0.6;
}
.nav  li {
  margin: 15px;
  
  }

.nav-list {
  display: flex;
  flex: 1.0;
}
.nav-list li {
  margin: 25px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: var(--li);
}

/* navigation-bar-end*/
.hero-content {
  padding-top: 70px;
}
.hero-head {
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  width: 50%;
  color: #020202;
  margin: 30px 59px;
}
.banner-head {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #fff;
    width: 30%;
    margin: 50px 59px;
    margin-bottom: 10px;
  }

/*news section*/

.news {
  display: flex;
  justify-content: space-evenly;
  margin: 0 35px;
}
.card{
    width: 80%;
    background:none;
    margin: 0 25px;
    /* margin: 30px 59px; */
}
.card :hover{
    color: #00bcd4;
}
/*card images*/

.thumb {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 80% 60%;
  /* border-radius: 5px; */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 0%;
  background-color: #000;
}

/*card images*/
.minor {
  display: flex;
  width: 100%;
}
.headline {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.name {
  font-weight: bold;
  font-size: 10px;
  width: auto;
  color: #686666;
  margin: 0;
  padding: 4px 2px;
}

.date {
  font-weight: 100;
  font-size: 9px;
  width: auto;
  margin: 0;
  padding: 2px 2px;
  color: #686666;
}

.lable {
  font-weight: 100;
  font-size: 9px;
  width: 100%;
  color: azure;
  background: var(--list-bg);
  width: max-content;
  padding: 1px 8px;
  border-radius: 5px;
}

.author {
  display: flex;
}

.author-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/*news section*/
body {margin: 0;}

a {
}

:hover {
}

.container {
}

h1,
h2,
h3,
h4,
p {
  font-family: manrope ,sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

li {
  color: var(--active-li);
}
li:hover {
  color: var(--active-li);
}
.banner{
    margin-top: 30px;
    min-height: 100vh;
}
.pup{
    background: #913f98;
}

.flex-one{
  margin: 30px 127px;
  display: flex;
  margin-bottom: 60px;
}
.partnerz{
  color: #fff;
  width: 60%;
  font-size: 18px;
  line-height: 28px;
  /* width: 100%; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}
.box{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.box2{
  width: 40%;
  /* background: #F3E6A2; */
  padding: 10px 20px;
  border-radius: 5px;
  justify-content: center;
}

.phoro {
    margin-top: -30px;
}

.phoro img{
  width: 70%;

  border-radius: 20PX;
  margin-left: 90px;
  transition: all 0.3s;
  display: block;
  height: auto;
  transform: scale(1);
}

.phoro img:hover{
    transform: scale(1.1);
  
}

.arrow img{
  z-index: 1;
  width: 230px;
  margin: 0;
  transform: rotate(245deg);
}


.box .issh{
  color: #fff;
  text-align: left;
  font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  width: 100%;
  margin-top: 40px;
}

.item{
  display: flex;
}
.box2 .item{
  font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: normal;
    font-size: 1.125rem;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
  color: #ffffff;
}

.item .no{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #e63225;
  font-family: 'Suisseintl webm', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}



.whyt{background: #fdfdfd;/* height: 90vh; */}

.whyt button{
  border-radius: 5px;
  background: #00d0d4;
  /* border: 1px solid #50C6D8; */
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: .8px;
  font-size: .875rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 10px 15px;
  width: 35%;
  transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}


.whyt button:hover{
  background: #4CAF50;
  color: #fff;
}
.whyt .issh{
  text-align: center;
  font-weight: 600;
  /* font-size: 30px; */
  /* line-height: 41px; */
  font-size: 33px;
  line-height: 29px;
  color: #1d1d1d;
  width: 100%;
  /* margin: 60px 0; */
  margin: 70px 0px;
}

.whyt .card-holder{
  display: flex;
  justify-content: space-between;
  margin: 45px 50px;
  /* margin-left: 20px; */
  margin-bottom: 100px;
}

.whyt .card{
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 0 0 .8rem 0 rgba(0,0,0,.1)!important; */
}
.whyt .card-inner{
  text-align: center;
  padding-bottom: 10px;
}

.card-inner img{
  /* width: 55px; */
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 80% 80%;
  border-radius: 26px;
}

.card-inner img:hover{
  /* width: 55px; */
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 80% 80%;

}
.whyt .card-headline{
  color: #1d1d1d;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -.3px;
  font-size: 1.2rem;
}

.whyt .card-content{

color: #564c4c;

margin: 20px 10px;

font-weight: 400;

line-height: 1.44444444;

letter-spacing: normal;

font-size: 1.0rem;
}


/* global styles */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid #00BCD4;
  background-color: none;
  border-radius: 10px;
  width: 23%;
  margin: 30px 59px;
}

/* Style the buttons inside the tab */
.tab button {
  width: 50%;
  background-color: inherit;
  float: left;
  height: unset;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 10px;
  transition: 0.3s;
  font-size: 13px;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

/* Change background color of buttons on hover */
.tab button:hover {
 color: #00bcd4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--tab-active);
 color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  /* border: 1px solid #ccc; */
  /* border-top: none; */
  /* width: 50%; */
  /* margin: 30px 59px; */
}

.programs{
  background: #F1F1F1;
}
.programs .card-inner img{
  width: 405px;
}
  

/* other styles */






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {




}
